@font-face {
    font-family: "Raleway";
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
}

#page{
    max-width: 1200px;
    margin: auto;
}

/*Header*/

#logo img{
    width: 80px;
    height: 50px;
    margin-left: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav ul
{
    list-style-type: none;
    display: flex;
    font-family: "Raleway";
}

header nav li
{
    margin-right: -20px;
    margin-left: 60px;
}

header nav a
{
    font-size: 1.3em;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}

.Titre{
    font-family: "Raleway";
    font-size: 15px;
}

/*Search*/

.search{
    display: flex;
    justify-content: flex-start;
}

.fa-map-marker-alt
{
    background-color: #d7d9df;
    padding: 12px;
    border-radius: 15px 0px 0px 15px;
    margin-right: -6px;
}

input{
    border: solid #F2F2F2 1px;
    padding: 10px 25px 10px 15px;
    font-weight: bold;
    font-size: 16px;
}

::placeholder{
    font-family: "Raleway";
}

.search button{
  color: white;
  background-color: #0065FC;
  font-weight: bold;
  font-size: 1.01em;
  border: none;
  padding: 10px 25px 10px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -5px;
}

/*Filtres*/

#Filters{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    font-family: "Raleway";
}

#Filters button{
    border: 0;
    background: none;
    position: relative;
    display: flex;
}

#Filters i{
    position: relative;
    left: 15px;
    padding: 12px;
    
}

#filters h4{
    font-size: 10px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    background-color:#DEEBFF  ;
    color: #0065fc;
    padding: 12px;
    border-radius: 50px;
}

.eco, .family, .love, .animals{
    border-radius: 0px 100px 100px 0px;
    border: solid #f2f2f2 2px;
    padding: 9px;
    border-left: none;
    font-weight: bold;
    font-family: "Raleway";
    font-size: 13px;
    padding-right: 40px;
    padding-left: 50px;
}

#Information{
    display: flex;
    align-items: center;
    font-family: "Raleway";
    flex-direction: row;
    margin-right: 20px;
}

.fa-info-circle{
    display: flex;
    background-color: #0065FC;
    color: #FFFFFF;
    border-radius: 50px;
}

.logement{
    margin-right: 50px;
    padding-right: 50px;
    padding: 15px;
}

/*hébergements*/

#container{
    display: flex;
}

.largeurHebergement:nth-child(1){
    width: 64%;
}

.largeurHebergement:nth-child(2){
    width: 31%;
}

.hébergementmarseille{
    display: flex;
    justify-content: space-between;
}

.hébergements{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hébergements h3{
    font-family: "Raleway";
    margin-left: 30px;
}

.hebergements-liste{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0px 10px 10px;
    padding: 10px; 
}

.hébergements a{
    text-decoration: none;
    margin-right: 10px;
}

.hébergement img{
    width: 200px; 
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;   
}

.hébergement h4, .hébergement p{
    margin: 3px 0px;
    font-family: "Raleway";
    font-size: 13px;
}

.hébergement{
    color: black;
    width: 200px;
    box-shadow: 1px 1px 12px #f2f2f2;
    padding: 5px;
    margin: 5px 10px 20px 10px;
    object-fit: cover;
    background-color: white;
    border-radius: 20px;
}

.affiche{
    font-family: "Raleway";
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 30px 0px 0px 30px;
}

/* populaire*/

.titrepopulaire{
    position: relative;
    font-family: "Raleway";
    font-weight: bold;
    display: flex;
    margin-left: 10px;
}

.fa-chart-line{
    position: absolute;
    left: 300px;
    top: 20px;
}

.populaire img{
    width: 170px;
    height: 140px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover; 
}

.populaire h4, .populaire p{
    margin: 10px 5px 0px 10px;
    font-family: "Raleway";
    font-size: 15px;
}

.populaire{
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin: 20px;
    color: black;
}

aside{
    background-color: #F2F2F2;
    border-radius: 20px; 
    padding: 10px;
}

aside a{
    text-decoration: none;
}

.etoile{
    margin-top: 40px;
    margin-left: 10px;
}

.blue-star{
    color: #0065FC;
}

.grey-star{
    color: grey;
}

/* activités */

.activitémarseille{
    display: flex;
    justify-content: space-between;
}

.titremarseille{
    display: flex;
    flex-direction: row;
    font-family: "Raleway";
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.activité img{
    width: 260px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}

.activité{
    color: black;
    font-size: 12px;
    font-family: "Raleway";
    font-weight: bold;
    margin: 20px;
    object-fit: cover;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
}

.activités img{
    width: 250px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activités{
    color: black;
    font-size: 12px;
    font-family: "Raleway";
    font-weight: bold;
    margin: 20px;
    object-fit: cover;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
}

.activité1{
    display: flex;
    flex-direction: column;
}

.activité p, .activités p{
    margin-left: 10px;
}
/* footer */

footer{
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
}

.commentaire{
    color: #000;
    font-family: "Raleway";
    font-weight: bold;
    margin-right: 150px;
}

footer nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-family: "Raleway";
}

footer nav li{
    font-size: 12px;
    margin: 5px 0px;
    right: 30px;
}

footer nav a{
    color: grey;
    text-decoration: none;
    
}

footer h3{
    margin-left: 40px;
}

/*Responsive Smartphones*/

@media all and (min-width: 320px) and (max-width: 767px)
{
    #page{
        width: auto;
    }

    .inscrire{
        position: absolute;
        top: 30px;
        right: 30px;
        font-weight: bold;
    }

    .titre{
        margin-left: 0px;
        margin-right: 0px;
    }

    header{
        display: flex;
        flex-direction: column;

    }

    nav{
        display: flex;
    }

    nav ul{
        border-bottom: 2px solid #F2F2F2;
    }
}
    




